a{
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    margin: 10px;
}
.nav-bar{
    text-align: right;
}
.title{
    font-family: 'Pacifico', cursive;
    display: inline;


}
body{
    
    background-image: linear-gradient(to right, #44a08d,#093637);
    color: rgb(46, 39, 39);
    font-family: 'Cairo', sans-serif;
}
.label-align{
    display:block;
    margin: 1rem 0 1rem 0;
}
.section-align{
    text-align: center;
    margin-top: 2rem;
}
#btn-click{
    margin-top: 1rem;
    width: 128px;
    height: 34px;
}
#output{
    color: black;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.input-align{
    width: 270px;
    height:30px;
    border: 2px solid transparent;
    border-radius:5px ;
}
.icon{
    font-size: 1.5em;
    color:#fff;
    margin: 20px;
}
.footer-align{
    position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}